<!doctype html>
<html lang="en">
<head>
	<title> Power testing </title>
	<link rel="stylesheet" href="/static/css/style.css">
	<meta charset = "UTF-8">
</head>

<body>
<header>
<!-- Создание меню-->
<div class="header_servises">
<ul class = "menu">
    <li><a href="/" class="active">Главная</a></li>
    <li><a href="/services/">Услуги</a></li>
    <li><a href="/experts/">Наши эксперты</a></li>
    <li><a href="/contacts/">Контакты</a></li>
</ul>
</div>
</header>

<!-- горизонтальная линия-->
<hr></hr>
<h1 align="center"><font color="#373433">Наши контакты</font></h1>


<table>
    <tr>
        <td><p>Мы ждем Вас!</p></td>
        <td>
			<p>Телефон: 88005535</p>
			<p>Почта: strongtesters.com</p>
			<p>Адрес: Уолл-стрит 37</p>
        </td>
    </tr>
    <tr>
        <td>
			     <form action = "">
				<!-- <fieldset> -->
				<legend>Напишите нам</legend>
				<p><input type = "text" size = "30" placeholder = "Ваше Имя"></p>
				<p><input type = "email" size = "30" placeholder = "Введите вашу электронную почту"></p>
				<p><input type = "message_subject" size = "30" placeholder = "Тема сообщения"></p>
				<p>Текст сообщения<Br>
				<textarea name="comment" cols="40" rows="8"></textarea></p>
				<p><input type = "file"></p>
				<!-- <br><input type = "submit" value = "Сохранить"></br> -->
				<p><input type = "reset" value = "Очистить">
				<input type = "button" value = "Отправить"></p>
				<!-- </fieldset > -->
			</form >
        </td>
        <td><script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aa9a6d7657b6465420f836cdbd75a85649ff0817f7dcdc43276199e7fe72293cd&amp;width=605&amp;height=415&amp;lang=ru_RU&amp;scroll=true"></script></td>
    </tr>
</table>

<footer>
<div class="footer-text">&copy 2012-2019 StrongTesters. Все права защищены</div>
</footer>
</body>
</html>