<!doctype html>
<html lang="en">
<head>
	<title> Power testing </title>
	<link rel="stylesheet" href="/static/css/style.css">
	<meta charset = "UTF-8">
</head>

<body>

<header>
<!-- Создание меню-->
<div class="header_servises">
<ul class = "menu">
    <li><a href="/" class="active">Главная</a></li>
    <li><a href="/services/">Услуги</a></li>
    <li><a href="/experts/">Наши эксперты</a></li>
    <li><a href="/contacts/">Контакты</a></li>
</ul>
</div>
</header>

<!-- горизонтальная линия-->
<hr></hr>

<h1> Наши эксперты. Мы знаем свое дело </h1>
<!-- горизонтальная линия-->
<hr></hr>
<table>
    <tr>
        <td><img src="/static/img/ЮраСмирнов.jpg" alt="ЮраСмирнов"
		title = "ЮраСмирнов"
		width="300" height="300">
		</td>
        <td>Юрий Смирнов<br>Образование: Harvard University<br>Специалист в области ML и не только</td>
    </tr>
    <tr>
        <td><img src="/static/img/korolev.jpg" alt="АнтонКоролев"
		title = "АнтонКоролев"
		width="300" height="300"></td>
        <td>Антон Королев<br>Образование: University of Cambridge<br>Специалист в области интеграций</td>
    </tr>
    <tr>
         <td><img src="/static/img/СаняМакаренков.jpg" alt="СаняМакаренков"
		title = "СаняМакаренков"
		width="300" height="300"></td>
        <td>Александр Макаренков<br>Образование: University of Oxford<br>Эксперт по работе с клиентами<br>Любой вопрос не вопрос</td>
    </tr>
    <tr>
        <td><img src="/static/img/ЛенаАлексеева.jpg" alt="ЛенаАлексеева"
		title = "ЛенаАлексеева"
		width="300" height="300"></td>
        <td>Елена Алексеева<br>Образование: Stanford University<br>Эксперт в автоматизации</td>
    </tr>
    <tr>
         <td><img src="/static/img/ЕвгенийГребенщиков.jpg" alt="ЕвгенийГребенщиков"
		title = "ЕвгенийГребенщиков"
		width="300" height="300"></td>
        <td>Евгений Гребенщиков<br>Образование: California Institute of Technology<br>Гуру автоматизации<br>Коучер</td>
    </tr>
    <tr>
         <td><img src="/static/img/ЮлияХакимова.jpg" alt="ЮлияХакимова"
		title = "ЮлияХакимова"
		width="300" height="300"></td>
        <td>Юлия Хакимова<br>Образование: Imperial College London<br>Спец в функциональном тестировании</td>
    </tr>
    <tr>
        <td><img src="/static/img/РасимАбасов.jpg" alt="РасимАбасов"
		title = "РасимАбасов"
		width="300" height="300"></td>
        <td>Расим Абасов<br>Образование: Massachusetts Institute of Technology<br>Специалист в области LoadTesting</td>
    </tr>
    <tr>
       <td><img src="/static/img/СергейЕлшанский.jpg" alt="СергейЕлшанский"
		title = "СергейЕлшанский"
		width="300" height="300"></td>
        <td>Сергей Елшанский <br>Образование: Yale University<br>Эксперт по функционалке</td>
    </tr>
</table>
<!-- горизонтальная линия-->
<hr></hr>
<footer>
<div class="footer-text">&copy 2012-2019 StrongTesters. Все права защищены</div>
</footer>
</body>
</html>