<!doctype html>
<html lang="en">
<head>
	<link rel="stylesheet" href="/static/css/style.css">
	<title> Power testing </title>
	<meta charset = "UTF-8">
</head>

<body>

<header>
<!-- Создание меню-->
<div class = "header_image">
<div class = "title">StrongTesters</div>
<ul class = "menu">
    <li><a href="/" class="active">Главная</a></li>
    <li><a href="/services/">Услуги</a></li>
    <li><a href="/experts/">Наши эксперты</a></li>
    <li><a href="/contacts/">Контакты</a></li>
</ul>
<div class="list_what_testing">
<h1 ><font color="white" >Что мы можем протестить</font></h1>
<ul class="icon_list">
	<li><img src="/static/img/mobapp.png" alt="Мобильное приложение"></li>
    <li><img src="/static/img/site.png" alt="Сайт"></li> 
    <li><img src="/static/img/platforma.png" alt="Платформа"></li>
 </ul>
<ul class="name_icon_list">
	<li>Мобилки</li>
	<li>Сайты</li>
	<li>ИТ-платформы</li>
</ul>
 </div>
 </div>
 <!-- горизонтальная линия-->
<hr></hr>
  <h1 align="center"><font color="#373433">Наша клиентура</font></h1>

<div class="list_what_testing">
<ul class="list_icon_client">
	<li><img src="/static/img/samsung.png" alt="samsung" width="200" height="150"></li>
    <li><img src="/static/img/apple.png" alt="apple" width="100" height="150"></li>
    <li><img src="/static/img/google.png" alt="google" width="160" height="150"></li> 
    <li><img src="/static/img/5.png" alt="google" width="180" height="150"></li> 
 
 </ul>
 </div>
</header>

<!-- горизонтальная линия-->
<hr></hr>

<h1> StrongTesters </h1>

<p>Сегодня StrongTesters занимает лидирующие позиции на рынке ИТ-услуг. Мы делаем проекты, которые меняют жизнь людей к лучшему.</p>

<p>Ключевые направления деятельности компании: тестирование ПО и сервисная поддержка сложных информационных систем, обеспечение качества и ИТ-аутсорсинг.</p>

<p>В активе StrongTesters множество масштабных проектов, повлиявших на развитие отрасли ИТ-услуг, реализованных по заказу как российских, так и зарубежных компаний.</p>
<p>В число наших заказчиков входят: "Apple", "Samsung", "Google" и сеть магазинов "Пятерочка".</p>

<p>Наши партнеры – лидеры мировой ИТ-индустрии, такие как Oracle, IBM, Microsoft и Mail.</p>


<!-- горизонтальная линия-->
<!-- <hr></hr> -->
<footer>
<div class="footer-text">&copy 2012-2019 StrongTesters. Все права защищены</div>
</footer>
</body>
</html>