<!doctype html>
<html lang="en">
<head>
	<title> Power testing </title>
	<link rel="stylesheet" href="/static/css/style.css">
	<meta charset = "UTF-8">
</head>

<body>
<header>
<!-- Создание меню-->
<div class="header_servises">
<ul class = "menu">
    <li><a href="/" class="active">Главная</a></li>
    <li><a href="/services/">Услуги</a></li>
    <li><a href="/experts/">Наши эксперты</a></li>
    <li><a href="/contacts/">Контакты</a></li>
</ul>
</div>
</header>
<h1 align="center"><font color="#373433">Наши услуги</font></h1>
<table>
    <tr>
        <td>Функциональное тестирование</td>
        <td>Автоматизированное тестирование</td>
        <td>Нагрузочное тестирование</td>
    </tr>
    <tr>
        <td><img src="/static/img/functional_testing.jpg" alt="functional_testing"
		title = "функциональное тестирование"
		width="400" height="400"></td>
        <td><img src="/static/img/automation_testing.jpg" alt="automation_testing"
    	title = "Автоматизированное тестирование"
    	width="400" height="400"></td>
        <td><img src="/static/img/load_testing.jpg" alt="load_testing"
    	title = "Нагрузочное тестирование"
    	width="400" height="400"></td>
    </tr>
</table>

<footer>
<div class="footer-text">&copy 2012-2019 StrongTesters. Все права защищены</div>
</footer>
</body>
</html>