<!doctype html>
<html lang="en">
<head>
	<title> Power testing </title>
	<link rel="stylesheet" href="style.css">
	<meta charset = "UTF-8">
</head>

<body>
<header>
<!-- Создание меню-->
<div class="header_servises">
<ul class = "menu">
    <li><a href="index.html">Главная</a></li>
    <li><a href="services.html">Услуги</a></li>
    <li><a href="experts.html">Наши эксперты</a></li>
    <li><a href="contacts.html">Контакты</a></li>
</ul>
</div>
</header>
<h1 align="center"><font color="#373433">Наши услуги</font></h1>
<table>
    <tr>
        <td>Функциональное тестирование</td>
        <td>Автоматизированное тестирование</td>
        <td>Нагрузочное тестирование</td>
    </tr>
    <tr>
        <td><img src="images/functional_testing.jpg" alt="functional_testing"
		title = "функциональное тестирование"
		width="400" height="400"></td>
        <td><img src="images/automation_testing.jpg" alt="automation_testing"
    	title = "Автоматизированное тестирование"
    	width="400" height="400"></td>
        <td><img src="images/load_testing.jpg" alt="load_testing"
    	title = "Нагрузочное тестирование"
    	width="400" height="400"></td>
    </tr>
</table>

<footer>
<div class="footer-text">&copy 2012-2019 StrongTesters. Все права защищены</div>
</footer>
</body>
</html>